h3{
    text-decoration: underline;
}
.image{
    height: 350px;
}
.main{
    display: flex;
    flex-direction: column;
}
.list{
margin-left: -20px;
}
a{
    color: black;
}
.section1{
    border: 1px solid black;
    padding-bottom: 15px;
    padding-left: 5px;
}